[submodule "ext/eigen"]
	path = ext/eigen
	url = git@github.com:eigenteam/eigen-git-mirror.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = git@github.com:glfw/glfw.git
[submodule "ext/glad"]
	path = ext/glad
	url = git@github.com:Dav1dde/glad.git
	branch = c
[submodule "ext/tinyobjloader"]
	path = ext/tinyobjloader
	url = git@github.com:syoyo/tinyobjloader.git
[submodule "ext/pcg-cpp"]
	path = ext/pcg-cpp
	url = git@github.com:imneme/pcg-cpp.git
[submodule "ext/stb"]
	path = ext/stb
	url = git@github.com:nothings/stb.git
[submodule "ext/json"]
	path = ext/json
	url = git@github.com:nlohmann/json.git
